<div class="home-background">

    {{!-- Header Start --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container welcome-items">
            <h1 id="app-logo" class="display-4 text-center">Welcome to Trouver</h1>
            <p id="welcome-message" class="lead text-center"> Discover the best places to watch
                your favorite content.
            </p>
        </div>
    </div>
    {{!-- Header End --}}

    {{!-- Content Start --}}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <div class="card form-card">
                    <div class="card-body">
                        {{!-- Form Start --}}
                        <div class="col-md-12 col-md-offset-3">
                            <div class="panel panel-login">

                                {{!-- Tab Panel Start --}}
                                <div class="panel-heading">

                                    {{!-- Login/Register Tabs Start --}}
                                    <div class="row">
                                        <div id="login-panel" class="col-6 login-register">
                                            <a href="#" class="active" id="login-form-link">Log In</a>
                                        </div>
                                        <div class="col-6 login-register">
                                            <a href="#" id="register-form-link">Register</a>
                                        </div>
                                    </div>
                                    {{!-- Tabs End --}}
                                    <hr>

                                </div>
                                {{!-- Tab Panel End --}}


                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            {{!-- Login Form Content Start --}}
                                            <form id="login-form" action="/login" method="post" role="form"
                                                style="display: block;">
                                                <div class="form-group">
                                                    <input type="email" name="email" id="loginEmail" tabindex="1"
                                                        class="form-control bg-gradient-light text-dark"
                                                        placeholder="Email Address" value="" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" id="loginPassword"
                                                        tabindex="2" class="form-control" placeholder="Password"
                                                        required>
                                                </div>
                                                {{!-- <div class="form-group text-center">
                                                    <input type="checkbox" tabindex="3" class="" name="remember"
                                                        id="remember">
                                                    <label for="remember"> Remember Me</label>
                                                </div> --}}
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-6">
                                                            <input type="submit" name="loginSubmit" id="loginSubmit"
                                                                tabindex="4"
                                                                class="form-control btn btn-login login-register"
                                                                value="Log In">
                                                        </div>
                                                        <div class="col-3"></div>
                                                    </div>
                                                </div>
                                            </form>
                                            {{!-- Login Form End --}}

                                            {{!-- Register Form Start --}}
                                            <form id="register-form" action="/register" method="post" role="form"
                                                style="display: none;">
                                                <div class="form-group">
                                                    <input type="text" name="firstName" id="firstName" tabindex="1"
                                                        class="form-control" placeholder="First Name" value="" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="lastName" id="lastName" tabindex="1"
                                                        class="form-control " placeholder="Last Name" value="" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" id="email" tabindex="1"
                                                        class="form-control" placeholder="Email Address" value=""
                                                        required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" id="password" tabindex="2"
                                                        class="form-control" placeholder="Password" required>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-3"></div>
                                                        <div class="col-6">
                                                            <input type="submit" name="submit" id="submit" tabindex="4"
                                                                class="form-control btn btn-register login-register"
                                                                value="Register">
                                                        </div>
                                                        <div class="col-3"></div>
                                                    </div>
                                                </div>
                                            </form>
                                            {{!-- Register Form End --}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Form End --}}

                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        {{!-- Content End --}}
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script> --}}
<script src="/js/index.js"></script>